<div class="profile">
    <div class="shell">
        <div class="profile__inner">
            <div class="profile__nav">
                <nav>
                    <ul>
                        <li class="is-active">
                            <a href="#">User Profile</a>
                        </li>
                    </ul>
                </nav>    
    
                <button type="button">Logout</button>
            </div>
           
            <div class="profile__main" *ngIf="authService.userData as user">
                <div class="profile__entry">
                    <p>Hello: <strong>{{ user.displayName }}</strong></p>
    
                    <p>Email: <strong>{{ user.email }}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>